# See http://help.github.com/ignore-files/ for more about ignoring files.
#ignore all files in any directory named Compressed..
Compressed Imagery_Denai Lama/

# compiled output
# commented to allow cloning from github to the linux server /dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out
/dist
/src/assets/img/userimg/

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

#remote sensed images
src/**/*.ecw
src/**/*.tif
src/**/*.tiff
src/**/*.rrd

tools/image_upload/images
tools/image_upload/node_modules
tools/street_names

src/assets/configuration/
