<div class="project-list"  *ngIf="showProjectList$ | async"
     cdkDrag
     cdkDragBoundary=".app-content">
  <!-- <div class ="example-list"   *ngIf="showLayerPanel$ | async" [style.left.px]="x" [style.top.px]="y"
      (panstart)="onPanStart($event)" (panmove)="onPan($event)" cdkDragBoundary=".mapBoundary" cdkDrag >  -->
  <mat-card >
    <mat-card-title-group>
      <mat-card-title class="panelTitle">Projects  </mat-card-title>
      <!--<button mat-flat-button   (click)="updateShowProjectList(false)" class="closeButton">
        <mat-icon>close</mat-icon>
      </button>  -->
    </mat-card-title-group>
    <mat-divider class = "toolbarDivider"></mat-divider>

      <ng-container  *ngFor= "let project of getProjects()" >
           <mat-nav-list [id]="project.name">
                <mat-list-item class = "group" (click)="setProject(project)">
                  <img *ngIf="project.thumbnail" matListAvatar [src] = 'sanitizeImageUrl(project.thumbnail)'>
                 {{project.name}}
                </mat-list-item>
              </mat-nav-list>

      </ng-container>
  </mat-card>
</div>
