<div class="parent">
  <div class="example-list" *ngIf="getVisibility()" cdkDrag cdkDragBoundary=".app-content">
    <mat-card>
      <mat-card-title-group>
        <mat-card-title>{{ layerName }}</mat-card-title>
        <button mat-flat-button (click)="abbortDialog()" class="matCloseWrapper">
          <mat-icon>close</mat-icon>
        </button>
      </mat-card-title-group>
      <mat-divider></mat-divider>
      
      <div class="form">
        <form [formGroup]="form" class="dynamic-form-container">
          
          <ng-container *ngFor="let field of fields" [ngSwitch]="field.type">

            <div class="text-input" *ngSwitchCase="'text'">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>{{ field.label }}</mat-label>
                <input matInput [formControlName]="field.id" [placeholder]="field.placeholder || ''">
                <mat-error *ngIf="form.get(field.id)?.hasError('required')">This field is required</mat-error>
              </mat-form-field>
            </div>

            <div class="text-input" *ngSwitchCase="'textarea'">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>{{ field.label }}</mat-label>
                <textarea matInput [formControlName]="field.id" [placeholder]="field.placeholder || ''" rows="3"></textarea>
                <mat-error *ngIf="form.get(field.id)?.hasError('required')">This field is required</mat-error>
              </mat-form-field>
            </div>

            <div class="text-input" *ngSwitchCase="'number'">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>{{ field.label }}</mat-label>
                <input matInput type="number" [formControlName]="field.id" [min]="field.min" [max]="field.max">
                <mat-error *ngIf="form.get(field.id)?.hasError('required')">This field is required</mat-error>
              </mat-form-field>
            </div>

            <div class="select-input" *ngSwitchCase="'select'">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>{{ field.label }}</mat-label>
                <mat-select [formControlName]="field.id">
                  <mat-option *ngFor="let opt of field.options" [value]="opt">{{ opt }}</mat-option>
                </mat-select>
                <mat-error *ngIf="form.get(field.id)?.hasError('required')">This field is required</mat-error>
              </mat-form-field>
            </div>

            <div class="custom-field-margin" *ngSwitchCase="'checkbox'">
              <mat-checkbox [formControlName]="field.id" [required]="field.required || false">{{ field.label }}</mat-checkbox>
              <span class="custom-error" *ngIf="form.get(field.id)?.hasError('required') && form.get(field.id)?.touched">
                This checkbox is required
              </span>
            </div>

            <div class="radio-input custom-field-margin" *ngSwitchCase="'radio'">
              <label class="radio-label" [class.text-error]="form.get(field.id)?.hasError('required') && form.get(field.id)?.touched">
                {{ field.label }}<span *ngIf="field.required"> *</span>:
              </label>
              <mat-radio-group [formControlName]="field.id" [required]="field.required || false">
                <mat-radio-button *ngFor="let opt of field.options" [value]="opt" class="radio-btn">{{ opt }}</mat-radio-button>
              </mat-radio-group>
              <span class="custom-error" *ngIf="form.get(field.id)?.hasError('required') && form.get(field.id)?.touched">
                Please select an option
              </span>
            </div>

            <div class="date-input" *ngSwitchCase="'datetime'">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>{{ field.label }}</mat-label>
                <input matInput type="datetime-local" [formControlName]="field.id">
                <mat-error *ngIf="form.get(field.id)?.hasError('required')">This field is required</mat-error>
              </mat-form-field>
            </div>

          </ng-container>

        </form>

        <div class="submit-button">
          <button mat-flat-button color="primary" type="submit" (click)="submitDialog()" [disabled]="form?.invalid" [ngStyle]="{'cursor': form?.invalid ? 'not-allowed' : 'pointer'}">Ok</button>
        </div>

      </div>
    </mat-card>
  </div>
</div>