<div id="map" class="map">
  <div data-tooltip="algo" id ='info'>  <!--class="tooltip" id="info" -->
    <span id=spanTool class = "tooltiptext"></span>
  </div>
  <div id ="progress">
  </div>
</div>
<div id="popup" #popup class="ol-popup">
  <a href="#" #closer class="ol-popup-closer"></a>
  <div id="popup-content" #content></div>
</div>
<app-layer-panel [editLayers]="loadedWfsLayers" [groupLayers] = "groupsLayers"
                 (layerVisClick)="updateMapVisibleLayer($event)"
(editLayerClick)="updateEditingLayer($event)"  (groupLayerVisClick)="updateMapVisibleGroupLayer($event)"
(layersOrder) = "updateOrderGroupsLayers($event)"
(identifyLayerClick)="startIdentifying($event)"></app-layer-panel>
