<div id="map" class="map">
  <div id ='info'>  <!--class="tooltip" id="info" -->
    <span id=spanTool class = "tooltiptext"></span>
  </div>
  <div id ="progress">
  </div>
</div>
<div id="popup" #popup class="ol-popup">
  <a href="#" #closer class="ol-popup-closer"></a>
  <div id="popup-content" #content></div>
</div>
<div *ngIf="loadedWfsLayers">
<app-layer-panel  [groupLayers] = "groupsLayers"
                 (layerVisClick)="updateMapVisibleLayer($event)"
(editLayerClick)="updateEditingLayer($event)"  (groupLayerVisClick)="updateMapVisibleGroupLayer($event)"
(layersOrder) = "updateOrderGroupsLayers($event)"
(identifyLayerClick)="startIdentifying($event)"></app-layer-panel>
</div>
<app-dynamic-form #dynamicForm  [questions]="questionsSubject.asObservable()"
                   [showForm]="showFormSubject.asObservable()"
                  [dataForm] = "dataForm"
                    (formSubmitted) = "getFormData($event)"
                    [featureLayer] = "featureLayerForm"> <!--[questions]="formQuestions" -->  <!-- from parent to Child) -->
</app-dynamic-form>
