<div class="street-search-panel" *ngIf="this.isStreetSearchVisible()"  cdkDrag cdkDragBoundary=".app-content">
  <div class="close-button-container">
    <button mat-flat-button   (click)="this.setStreetSearchVisible(false)" class="close-button">
      <mat-icon class="matCloseWrapper" aria-label="Close Street Search Panel">close</mat-icon>
    </button>
</div>
  <mat-form-field class="street-input">
    <input
      matInput
      type="text"
      [(ngModel)]="userInput"
    />
    <mat-placeholder class="filterPlaceholder">enter street name</mat-placeholder>
  </mat-form-field>
  <button
    class="search-streets"
    mat-stroked-button
    (click)="this.searchStreetNames()"
    [disabled]="userInput.trim().length <= 2"
  >
    search
  </button>
  <div class="select-street-container">
  <mat-select [(ngModel)]="this.selectedFeature"   (selectionChange)="onStreetSelected($event)"  (multiple) = 'false'  class="select-street" *ngIf="this.getCurrentFeatures() && this.getCurrentFeatures().length > 0" #streetSelect>
    <mat-option *ngFor="let feature of this.getCurrentFeatures()" [value]="feature">
      {{this.getOptionsLabel(feature)}}
    </mat-option>
  </mat-select>
  <mat-select [(ngModel)]="this.selectedFeature"  *ngIf="this.getCurrentFeatures() && this.getCurrentFeatures().length === 0" #streetSelect>
    <mat-option [value]="null" disabled>
      no matching street(s) found
    </mat-option>
  </mat-select>
</div>
</div>
