.example-list{
  left: 60% !important;
  max-width: 20%;
  top: 40% !important;
}
.label{
  padding-left: 5px;
  display:inline-block;
  max-width: 80%;
}
.inputField{
  padding-left: 5px;
  display:inline-block;
  max-width: 80%;
  line-height: 12px;
}
.tittle{
  // padding-left: 5px;
  text-align: center;
}
.form-row {
  padding-top: 15px;
}
.inputField
{ padding: 0 10px;
  line-height: 14px !important;
}
input[type="range"] {
  width: 4vw;
}
