<div class ="example-list"  *ngIf="showForm$ | async"  cdkDragBoundary=".map" cdkDrag >
<span class="tittle"><strong>Details</strong></span>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">

    <div *ngFor="let question of sQuestions" class="form-row">
     <!-- <app-question [question]="question" [form]="form"></app-question> -->
      <div [formGroup]="form">
        <label class="label" [attr.for]="question.key">{{question.label}}: </label>
        <div class="inputField" [ngSwitch]="question.controlType">
          <input class="inputText" *ngSwitchCase="'textbox'" [formControlName]="question.key"
                 [id]="question.key" [type]="question.type">

          <input class="inputText" *ngSwitchCase="'checkbox'" [formControlName]="question.key"
                 [id]="question.key" [type]="question.type">
        <div *ngSwitchCase="'slider'">
         <span>{{question.min}} </span>
          <input  [id]="question.key" type="range"  [min]="question.min" value="question.min" [max]="question.max" step="1"
                  [formControlName]="question.key" >
         <span>{{question.max}} </span>
          <span></span>
        </div>

          <!--
          // https://stackoverflow.com/questions/58970793/get-value-of-slider-in-typescript

          get the value of the slider
          https://stackoverflow.com/questions/46959135/how-to-get-current-value-of-angular-material-slider/46961922 -->
          <select [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key">
            <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
          </select>



        </div>

       <!-- <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>  -->
      </div>


    </div>

    <div class="form-row">
      <button class="" type="submit" [disabled]="!form.valid">Ok</button>
    </div>
  </form>

  <!-- <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div> !-->
</div>

