<div class="parent">
<div class ="example-list"  *ngIf="showForm$ | async"
cdkDrag cdkDragBoundary=".app-content" >
 <mat-card>
      <mat-card-title-group>
        <mat-card-title>Description</mat-card-title>
        <!--<button mat-flat-button (click)="closeForm()" class="matCloseWrapper">
          <mat-icon >close</mat-icon>
        </button> -->

      </mat-card-title-group>
      <mat-divider class = "toolbarDivider"></mat-divider>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
  <div>
    <div *ngFor="let question of sQuestions" class="form-row">
     <!-- <app-question [question]="question" [form]="form"></app-question> -->
      <div [formGroup]="form">
       <!-- <label class="label" [attr.for]="question.key">{{question.label}}: </label>-->
        <div class="inputField" [ngSwitch]="question.controlType">
         <mat-form-field *ngSwitchCase="'textbox'" >
           <mat-label>
            {{getLabel(question.label )}}:
           </mat-label>
           <div class = "container">
           <div>
           <input  #input matInput  class="input" autocomplete="off"
                  [formControlName]="question.key" [id]="question.key"
                  placeholder="Details" value= {{value}}
                   (focusout) = "onInputFocusOut($event, question.key)" *ngIf="question.value === ''"/>
                   <input  #input matInput  class="input" autocomplete="off"
                   [formControlName]="question.key" [id]="question.key"
                   placeholder="Details" value= {{value}}
                    (focusout) = "onInputFocusOut($event, question.key)" *ngIf="question.value !== ''" readonly/>

             </div>
           </div>

         </mat-form-field>

         <mat-form-field *ngSwitchCase="'datetime'" >
          <mat-label>
            {{getLabel(question.label)}}:
          </mat-label>
          <div class = "container">
          <div>
          <input  #input matInput  class="input" type="date"
                 [formControlName]="question.key" [id]="question.key"
                 placeholder="Datum" value="new Date().toLocaleDateString()"
                  (focusout) = "onInputFocusOut($event, question.key)" />
            </div>
          </div>

        </mat-form-field>

      <!--    <div  #keyboard class="simple-keyboard" [ngClass]="keyboardVisible? 'simple-keyboard': 'simple-keyboard-hidden'"> </div> -->

         <div  *ngSwitchCase="'checkbox'" >
           <mat-checkbox  [formControlName]="question.key"  [checked] = "question.checked" labelPosition='after' color = 'primary'
                          (change)="checkingChecks(question.key, $event.checked)">
              <label> {{getLabel(question.label )}}  </label>
           </mat-checkbox>
         </div>


          <div class="container" *ngSwitchCase="'slider'">
            <div class="sliderLabel">
              <label >{{getLabel(question.label )}} ({{question.min}} - {{question.max}}): </label>
            </div>
            <div>

              <mat-slider  color = 'primary' [formControlName]="question.key" [max]="question.max"
                          [min]="question.min" [thumbLabel]=true  [value]="question.min"
                           (change) = "showQuestionValue(question.key, $event.value)">
              </mat-slider>

            </div>
           <div>  <label id={{question.key}}> {{question.value}} </label></div>
          </div>

          <!--
          // https://stackoverflow.com/questions/58970793/get-value-of-slider-in-typescript

          get the value of the slider
          https://stackoverflow.com/questions/46959135/how-to-get-current-value-of-angular-material-slider/46961922 -->
          <select [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key">
            <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
          </select>
        </div>
       <!-- <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>  -->
      </div>


    </div>

    <div class="closingButton">
      <button mat-flat-button color="primary" type="submit" [disabled]="!form.valid">Ok</button>
    </div>
  </div>
  </form>

  <!-- <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div> !-->

  </mat-card>
</div>

</div>
