.example-list{
  left: 60% !important;
  max-width: 20%;
  top: 40% !important;
  opacity:0.9;
  background-color: white;
}
.label{
  padding-left: 5px;
  display:inline-block;
  max-width: 80%;
}
.inputField{
  // padding-left: 5px;
  padding: 0 10px;
  display:inline-block;
  max-width: 80%;
 // line-height: 14px !important;;   // scale with the exten view
}
.tittle{
  // padding-left: 5px;
  text-align: center;
}
.form-row {
  padding-top: 15px;
}

input[type="range"] {
  width: 4vw;
}
input[type=text] {
 // width: 5vw;
 // height: 2vw ;
  padding: 40px 10px !important;
  border: 2px solid red;
}


