<!--suppress AngularUndefinedBinding -->  <!-- to fix a bug in webstorm -->



<div id='third' class ="example-list"   *ngIf="showLayerPanel$ | async" [style.left.px]="x" [style.top.px]="y"
     (panstart)="onPanStart($event)" (panmove)="onPan($event)" cdkDragBoundary=".map" cdkDrag >
  <!-- <div class ="example-list"   *ngIf="showLayerPanel$ | async" [style.left.px]="x" [style.top.px]="y"
      (panstart)="onPanStart($event)" (panmove)="onPan($event)" cdkDragBoundary=".mapBoundary" cdkDrag >  -->
  <mat-card class = 'layerPanelCard'>
    <mat-card-title-group>
      <mat-card-title class ="panelTitle">Layers  </mat-card-title>
      <button mat-flat-button   (click)="closeLayerPanel(false)" >

        <mat-icon class="closeLayerPanel" matTooltip="Close layer Panel">close</mat-icon>
      </button>
    </mat-card-title-group>
    <mat-divider class = "toolbarDivider"></mat-divider>
    <mat-accordion #groupsAccordion cdkDropList (cdkDropListDropped)="dropExpansion($event)">
      <mat-expansion-panel *ngFor= "let group of sgroupLayers" cdkDrag>
        <!--togglePosition='before'-->
        <mat-expansion-panel-header [collapsedHeight]="'2.1vw'" [expandedHeight]="'2.1vw'">
          <mat-panel-title>
            <mat-selection-list [id]="group.groupName">
              <mat-list-option class = "group" checkboxPosition="before" (click)="onGroupLayerVisClick($event,group)"
                               [selected]="group.visible" >
                {{group.groupName | titlecase}}
              </mat-list-option>
            </mat-selection-list>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-accordion>
          <ng-container  *ngFor= "let layer of group.layers" >
            <mat-expansion-panel>
              <mat-expansion-panel-header [collapsedHeight]="'2.3vw'" [expandedHeight]="'2.3vw'">
                <mat-panel-title>
                  <mat-selection-list (selectionChange)="onSelectedChanged($event)">
                    <mat-list-option class="example-box mat-primary" [value]="layer.layerName"
                                     (click)="onLayerVisClick($event,layer,group.groupName)" checkboxPosition="before"
                                     [ngClass]="layerActive == layer.layerName? 'active': 'normal'"  [selected]="layer.visible">
                      <div class="selectLayer" >
                        <div style="display:flex;align-items:center">
                          {{layer.layerName | titlecase}} <!-- {{layer['layerTitle']}} -->
                        </div>
                         <div class = 'selectLayer'>
                           <span class="spacer"></span>
                          <button  *ngIf="layer.wfs || layer.sketch" mat-icon-button matTooltip="Edit layer"
                                  (click)="onEditLayerClick($event, layer, group)"
                                  [ngClass]="layer.onEdit ? 'activeAction': 'normal'">
                            <mat-icon>edit</mat-icon>
                          </button>
                           <span class="spacer"></span>
                          <!--<button *ngIf="layer.layerForRanking"  mat-icon-button (click)="onRankingLayerClick($event, layer, group.groupName)"
                                  [ngClass]="layer.onRanking ? 'activeAction': 'normal'">
                            <mat-icon  svgIcon="ratingActionPlan"></mat-icon>
                          </button> -->
                           <span class="spacer"></span>
                         <!-- the identify button to the layer panel needed for WMS layers -->
                          <button mat-icon-button matTooltip="Identify elements in the layer"
                                  (click)="onIdentifyLayerClick($event, layer, group.groupName)"
                                  [ngClass]="layer.onIdentify ? 'activeAction': 'normal'">
                            <mat-icon>info_outline</mat-icon>
                          </button>
                           <span class="spacer"></span>
                          <!-- <button mat-icon-button (click)="onOpacityLayerClick($event, layer)">
                             <mat-icon  class= "editIcon">opacity</mat-icon>
                           </button> -->
                      </div>
                      </div>
                    </mat-list-option>
                  </mat-selection-list>
                </mat-panel-title>

              </mat-expansion-panel-header >
              <mat-list *ngFor="let icon of layer.legendLayer">
                <div>
                  <div class="iconTitle">
                    <img class = iconLegend [src] = icon.iconSrc alt="legend">
                  </div>
                  <div class="iconTitle">
                    {{icon.title | titlecase}}
                  </div>
                </div>
              </mat-list>
            </mat-expansion-panel>
          </ng-container>
        </mat-accordion>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
</div>
