<!--suppress AngularUndefinedBinding -->
<!-- to fix a bug in webstorm -->
<div
	id="third"
	class="example-list layer-panel"
	*ngIf="showLayerPanel$ | async"
	cdkDrag
	cdkDragBoundary=".app-content"
>
	<!-- <div class ="example-list"   *ngIf="showLayerPanel$ | async" [style.left.px]="x" [style.top.px]="y"
      (panstart)="onPanStart($event)" (panmove)="onPan($event)" cdkDragBoundary=".mapBoundary" cdkDrag >  -->
	<mat-card class="layerPanelCard">
		<mat-card-title-group>
			<mat-card-title class="panelTitle">Layers</mat-card-title>
			<button mat-flat-button (click)="closeLayerPanel(false)">
				<mat-icon class="matCloseWrapper" aria-label="Close layer Panel"
					>close</mat-icon
				>
			</button>
		</mat-card-title-group>
		<mat-divider class="toolbarDivider"></mat-divider>
		<mat-accordion
			#groupsAccordion
			cdkDropList
			(cdkDropListDropped)="dropExpansion($event)"
		>
			<mat-expansion-panel *ngFor="let group of currentGroupLayers" cdkDrag>
				<!--togglePosition='before'-->
				<mat-expansion-panel-header>
					<mat-panel-title>
						<mat-selection-list [id]="group.groupName">
							<mat-list-option
								class="group"
								checkboxPosition="before"
								(click)="onGroupLayerVisClick($event, group)"
								[(selected)]="group.visible"
							>
								{{ group.groupName | titlecase }}
							</mat-list-option>
						</mat-selection-list>
					</mat-panel-title>
				</mat-expansion-panel-header>

				<mat-accordion>
					<ng-container *ngFor="let layer of group.layers">
						<mat-expansion-panel
							[hideToggle]="
								!layer.legendUrl &&
								(!layer.legendLayer || layer.legendLayer.length === 0)
							"
							[disabled]="
								!layer.legendUrl &&
								(!layer.legendLayer || layer.legendLayer.length === 0)
							"
						>
							<mat-expansion-panel-header>
								<mat-panel-title>
									<mat-selection-list>
										<mat-list-option
											class="example-box mat-primary"
											[value]="layer.layerName"
											(click)="onLayerVisClick($event, layer, group)"
											checkboxPosition="before"
											[ngClass]="layerActive == layer.layerName ? 'active' : 'normal'"
											[(selected)]="layer.visible"
										>
											<div class="selectLayer">
												<div style="display: flex; align-items: center">
													{{ layer.layerName | titlecase }}
												</div>
												<div class="selectLayer">
													<span class="spacer"></span>
													<button
														*ngIf="layer.wfs || layer.sketch !== 'NONE'"
														mat-icon-button
														matTooltip="Edit Layer"
														aria-label="Start drawing"
														(click)="onEditLayerClick($event, layer, group)"
														[ngClass]="layer.onEdit ? 'activeAction' : 'normal'"
													>
														<mat-icon>edit</mat-icon>
													</button>
													<span class="spacer"></span>

													<div *ngIf="isLayerQueryable(layer.layerName)">
														<button
															mat-icon-button
															matTooltip="Query element"
															aria-label="Identify elements in the layer"
															(click)="onIdentifyLayerClick($event, layer, group)"
															[ngClass]="layer.onIdentify ? 'activeAction' : 'normal'"
														>
															<mat-icon>info_outline</mat-icon>
														</button>
													</div>
													<span class="spacer"></span>
													<button
														*ngIf="layer.removable"
														mat-icon-button
														matTooltip="Remove layer"
														aria-label="Remove layer"
														(click)="onRemoveLayerClick($event, layer, group)"
													>
														<mat-icon>delete</mat-icon>
													</button>
												</div>
											</div>
										</mat-list-option>
									</mat-selection-list>
								</mat-panel-title>
							</mat-expansion-panel-header>

							<ng-container *ngIf="layer.legendUrl">
								<div class="legend-image-wrapper">
									<img [src]="layer.legendUrl" alt="Legend for {{ layer.layerName }}" />
								</div>
							</ng-container>

							<ng-container
								*ngIf="
									!layer.legendUrl && layer.legendLayer && layer.legendLayer.length > 0
								"
							>
								<mat-list *ngFor="let icon of layer.legendLayer">
									<div>
										<div class="iconTitle">
											<img class="iconLegend" [src]="icon.iconSrc" alt="legend" />
										</div>
										<div class="iconTitle">
											{{ icon.title }}
										</div>
									</div>
								</mat-list>
							</ng-container>
						</mat-expansion-panel>
					</ng-container>
				</mat-accordion>
			</mat-expansion-panel>
		</mat-accordion>
	</mat-card>
</div>
