<div class="parent" [ngStyle]="{'cursor': this.isUploadPending() ? 'wait' : 'auto'}">
  <div class ="example-list"  *ngIf="getVisibility()"
    cdkDrag cdkDragBoundary=".app-content" >
    <mat-card>
          <mat-card-title-group>
            <mat-card-title>Details</mat-card-title>
            <button mat-flat-button (click)="abbortDialog()" class="matCloseWrapper">
          <mat-icon >close</mat-icon>
          </button>
          </mat-card-title-group>
          <mat-divider></mat-divider>
      <div class="form">
      <div class="text-input">
        <mat-form-field >
          <input
            matInput
            type="text"
            [(ngModel)]="this.description"
          />
          <mat-placeholder class="textPlaceholder">{{this.getLabel('text', 'Date')}}</mat-placeholder>
        </mat-form-field>
      </div>
      <div class="date-input">
          <mat-form-field  >
            <input matInput type="date"
                  [placeholder]="this.getLabel('date', 'Date')" [(ngModel)]="this.date"  />
          </mat-form-field>
        </div>
        <div class="radio-input">
          <mat-radio-group [(ngModel)]="this.isGoodExample" #radioGroup="matRadioGroup" >
            <mat-label>
              <mat-radio-button value="true"></mat-radio-button>
              <mat-icon>thumb_up</mat-icon>
            </mat-label>
            <mat-label>
              <mat-radio-button value="false"></mat-radio-button>
              <mat-icon>thumb_down</mat-icon>
          </mat-label>
          </mat-radio-group>
      </div>
      <div class="select-input" *ngIf="this.isGoodExample === 'false'">
        <mat-label>{{this.getLabel("priority", "Priority")}}:
          <mat-select [(ngModel)]="this.priority"  (multiple) = 'false'>
            <mat-option *ngFor="let priority of priorities" [value]="priority">
              {{priority}}
            </mat-option>
          </mat-select>
        </mat-label>
      </div>
      <div class="file-input">
        <div class="file-input-label">
          <mat-label>{{this.getLabel("img", "Photo")}}:</mat-label>
        </div>
        <input type="file"
        accept="image/*"
        (change)="onFileSelected($event)" />
        <mat-progress-bar *ngIf="this.isUploadPending()" [value]="this.getUploadProgress()" color="primary" mode="determinate"></mat-progress-bar>
      </div>
      <div class="text-input" *ngIf="this.imageFile !== null">
        <mat-form-field >
          <input
            matInput
            type="text"
            [(ngModel)]="this.imageDescription"
          />
          <mat-placeholder class="textPlaceholder">{{this.getLabel("alt_img", "Photo Description")}}</mat-placeholder>
        </mat-form-field>
      </div>
      <div class="text-input" *ngIf="this.imageFile !== null">
        <mat-form-field class="text-input" *ngIf="this.imageFile !== null">
          <input
            matInput
            type="text"
            [(ngModel)]="this.address"
          />
          <mat-placeholder class="textPlaceholder">{{this.getLabel("address", "Address")}}</mat-placeholder>
        </mat-form-field>
      </div>
      <div class="submit-button">
        <button mat-flat-button color="primary" type="submit" (click)="this.submitDialog()" [disabled]="this.isButtonDisabled()" [ngStyle]="{'cursor': this.isButtonDisabled() ? 'not-allowed' : 'pointer'}">Ok</button>
      </div>
    </div>
  </mat-card>
  </div>
</div>
