/* You can add global styles to this file, and also import other style files */
//@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '../node_modules/simple-keyboard/build/css/index.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow: hidden;}
.example-list {
  // width: 13%;
  max-width: 30%;
  border: solid 1px #ccc;
  min-height: 40px;
  display: block; // este esta bien
  //background: darkred;
  border-radius: 4px;
  overflow: auto;
  margin-left: 0;   // 4%
  margin-top: 0;    // 5%
  z-index: 250;
  position: absolute;
  opacity:0.95;
  left: 4%;
  top: 10%;
}
.example-list hover{
  cursor:pointer;
  //border-bottom-color: aqua;
}
.panelTitle{
  font-size:1.2vw !important;  // responsive text 2% of the viewport width
  padding-left: 1vw;
  padding-top: 0.3vw;
}



.matCloseWrapper{
  padding: 0 0 0 0 !important;
  width: 1.7vw !important;
  height: 1.7vw !important;
  // line-height: 18px !important;
  margin-top: -7px !important;
}

.mat-flat-button{
  vertical-align: top !important;
}
.closeIcon {
  font-size: 1vw;
  text-align: center;
  vertical-align: top !important;
  width: 1.5vw !important;
  height:  1.5vw !important;
  padding-top: 0;
  margin-top: -3px;  // To center the icon in the wrapper
  padding-right: 0;
}


@media (orientation: landscape){
  .imgInfo{
    max-height: 50vh;
    max-width:70vw;
  }
}

@media (orientation: portrait){
  .imgInfo{
    max-height: 70vh;
    max-width: 70vw;
  }
}

