
  <div class="toolbarWrapper">
  <!-- Toolbar -->

    <div class="toolbar" role="banner">
      <mat-toolbar color = "primary">

      <button mat-icon-button   [matMenuTriggerFor]="myMenu" aria-label="Menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu  #myMenu="matMenu">
        <button mat-menu-item disabled (click) = "editSettings()">
          <mat-icon>settings</mat-icon>
          <span>settings</span>
        </button>
        <button mat-menu-item (click)="showInfo()">
          <mat-icon>info </mat-icon>
          <span>About</span>
        </button>
      </mat-menu>
      <span class="title">&nbsp;OGITO </span>
      <span class="spacer"></span>
      <span class = "userNickName" *ngIf="auth.userProfile$ | async as profile">
      <code>{{ profile["nickname"] }}</code>
      </span> <pre>  </pre>
      <button mat-button (click)="handleLogin()" *ngIf="!auth.isLoggedIn()"> Log in</button>
      <button mat-button (click)="handleLogin()" *ngIf="auth.isLoggedIn()"> Log out</button>
      <button mat-icon-button (click)="handleLogin()">
          <mat-icon>exit_to_app</mat-icon>
      </button>
      </mat-toolbar>
    </div>

  </div>
  <!-- uncomment to enable authentication  25/11/2020 -->
  <div id="app-content" class="app-content">
    <div id="app-content-container" class="app-content-container">
      <app-map *ngIf="auth.isLoggedIn()"></app-map>
      <app-toolbar *ngIf="auth.isLoggedIn()"></app-toolbar>
      <app-street-search *ngIf="auth.isLoggedIn()"></app-street-search>
      <app-editing-toolbar *ngIf="auth.isLoggedIn()"></app-editing-toolbar>
      <app-symbol-list *ngIf="auth.isLoggedIn()"></app-symbol-list>
      <app-projlist *ngIf="auth.isLoggedIn()"></app-projlist>
    </div>
  </div>


