<div class ="example-list"   *ngIf="displaySymbolList$ | async"
     cdkDrag
     cdkDragBoundary=".app-content" >
<mat-card class="symbol-list"  #symListCard>
  <mat-card-title-group>
    <mat-card-title class="panelTitle">Symbols</mat-card-title>
    <button mat-flat-button (click)="showSymbolList(false)" class="matCloseWrapper">
      <mat-icon >close</mat-icon>
    </button>

  </mat-card-title-group>
  <mat-divider class = "toolbarDivider"></mat-divider>
  <span *ngIf= "symbolsLength == 0"> ..creating List of Symbols</span>
  <span>{{variable}}</span>
  <div class="symbol" *ngFor="let symbol of symbols$ | keyvalue">
     <div id = "+{{symbol.key}}"  (click)="updateActivesymbol(symbol)"
      [ngClass]="symbolActiveKey == symbol.key? 'active': 'normal'" >
      <canvas id ={{symbol.key}} class="canvasSymbol" #cmp></canvas>
      <span> {{symbol.value.label}} </span>
     </div>
  </div>

</mat-card>
</div>

